/* footer */
footer .copyright,footer nav a{
    color: var(--link) !important;
    font-weight: 500 !important;
}
footer .copyright span{
    color:var(--primary-color) 
}
footer nav a:hover{
    color: var(--white) !important;
}


@media screen and (max-width:1200px) {

}

@media screen and (max-width:992px) {


}

@media screen and (max-width:768px) {


}

@media screen and (max-width:576px) {

    .mt-6{
        margin-top:5rem;
    }
}

